:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --black-clear-color: #000000;
  --icons-base-color: #afb1b8;
  --transform-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  transition: color var(--transform-type);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

/* _______________________________________________________________HEADER_____________________________________________ */

.site-header .container {
  display: flex;
  align-items: center;
}

.site-header {
  border-bottom: 1px solid #ececec;
}

/*_____________________________________________ logo____ */

.logo {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--black-clear-color);
}

.logo-studio.foot {
  color: var(--background-color);
}

.logo,
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/*_____________________________________ site-nav + contacts___ */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-list,
.contacts-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item:not(:last-child),
.contacts:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: currentColor;
}

.icon-contacts {
  margin-right: 10px;
}

/* __________________________________________________________________HERO______________________________________ */

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-size: 1600px 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* ___________________________________Button___ */

.hero-btn {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-type);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* __________________________________________________________________FEATURES__________________________________ */

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 270px;
}

/* _______________________________________________________________WORK______________________________________________ */

.section.work {
  padding-top: 0;
}

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.work-list,
.team-list {
  display: flex;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.thumb {
  position: relative;
}

.work-description {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* _______________________________________________________________TEAM____________________________________________ */

.team {
  background-color: #f5f4fa;
}

.team-card {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.team-item {
  padding: 30px 0;
}

.teammate {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-duty {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
/* _______________Social icons________ */
.card-soc-list {
  display: flex;
  justify-content: center;
}

.card-soc-item + .card-soc-item {
  margin-left: 10px;
}

.card-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-base-color);
  transition: color var(--transform-type);
  transition: background-color var(--transform-type);
  transition: fill var(--transform-type);
}

.card-soc-link:hover,
.card-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

/* _______________________________________________________CLIENTS________________________________________________ */

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-base-color);
  border-radius: 4px;
  color: var(--icons-base-color);
  width: 170px;
  height: 92px;
  fill: currentColor;
  transition: color var(--transform-type);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: currentColor;
  fill: currentColor;
}

/* _________________________________________________________________FOOTER___________________________________________ */

.ftr {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.ftr .container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.location {
  color: var(--background-color);
  text-decoration: none;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.social-ftr {
  margin-left: 70px;
}

.social-ftr-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.social-ftr .card-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transform-type);
}

.social-ftr .card-soc-link:hover,
.social-ftr .card-soc-link:focus {
  background-color: var(--accent-color);
}

/*__________ Footer-mailing______________ */

.footer-mailing {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.mailing-label {
  margin-right: 12px;
}

.footer-input {
  display: inline-flex;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.icon-send {
  margin-left: 10px;
}

/*___________________________________________***PORTFOLIO***__________________________________________________- */

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  text-align: center;
  transition: color var(--transform-type);
  transition: background-color var(--transform-type);
}

.filter-btn:focus,
.filter-btn:hover,
.filter-btn:active {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

/* _________________________________________PROJECTS___________________________________ */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card-description {
  border-top: none;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  background-color: var(--background-color);
  position: relative;
  z-index: 1;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-link {
  display: block;
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transform-type), box-shadow var(--transform-type);
  overflow: auto;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}

/* ______________________________________________________*Modal-Window*________________________________ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 700ms linear, visibility 700ms linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 1000ms linear;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: scale(-1, 0.3) rotate(-320deg);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transform-type);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
  outline: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--transform-type);
}

.input:focus,
.input:hover {
  border-color: var(--accent-color);
}

.input:focus + .modal-icon,
.input:hover + .modal-icon {
  fill: var(--accent-color);
}

.input-field-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transform-type);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.comment {
  display: block;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-field {
  margin-bottom: 30px;
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
}

.policy-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 0.5rem;
  transition: background-color var(--transform-type), fill var(--transform-type);
}

.policy:focus + .policy-label span {
  border-color: var(--accent-color);
}

.policy:checked + .policy-label span {
  background-color: var(--accent-color);
  fill: var(--background-color);
  border: transparent;
}

.send {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
