.social-footer {
    margin-left: 70px;
}

.social-footer__text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
}

.social-footer .social__link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transform-type);
}

.social-footer .social__link:hover,
.social-footer .social__link:focus {
    background-color: var(--accent-color);
}